
<div class="card">
  <p-table [value]="orders" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Total Paye</th>
        <th>client </th>
        
        <th>Commandes</th>
        <th>Method De Paiement</th>
        <th>Payment state:</th>
        <th>status</th>
        <th>Delivery Person</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.totalPaye }}</td>
        <td>
          <div >
            <span class="font-bold">Full Name:</span>
            <span>{{ order.client.fullName }}</span>
          </div>
          <br>
          <div (click)="toggleDetails2(order)" style="cursor: pointer; display: flex; align-items: center;">
            <i [ngClass]="{'pi pi-chevron-up pi': order.showDetails2, 'pi pi-chevron-down pi': !order.showDetails2}" style="margin-right: 5px;"></i>
            {{ order.showDetails2 ? 'Hidden' : 'Show' }} Client Details
          </div><br>
          
          <div *ngIf="order.showDetails2">
            <div >
              
              
              <div class="flex gap-x-3 ">
                <span class="font-bold">Email:</span>
                <span>{{ order.client.email }}</span>
              </div><br>
              <div class="flex gap-x-3">
                <span class="font-bold">Address:</span>
                <span>{{ order.client.address }}</span>
              </div><br>
              <div class="flex gap-x-3 ">
                <span class="font-bold">Phone:</span>
                <span>{{ order.client.phoneNumber }}</span>
              </div>
              
            </div>
          </div>
        </td>
        
        
        
        <td>
          <div (click)="toggleDetails(order)" style="cursor: pointer; display: flex; align-items: center;">
            <i [ngClass]="{'pi pi-chevron-up pi': order.showDetails, 'pi pi-chevron-down pi': !order.showDetails}" style="margin-right: 5px;"></i>
            {{ order.showDetails ? 'Hidden' : 'Show' }} Commandes
          </div>
          
          <div *ngIf="order.showDetails">
            <p-table [value]="order.commandItems" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    <th>ID</th>
                    <th>Quantity</th>
                    <th>Prix</th>
                    <th>Produit</th>
                    <th>Catégorie</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-command>
                  <tr>
                    <td>{{ command.id }}</td>
                    <td>{{ command.quantity }}</td>
                    <td>{{ command.prix }}</td>
                    <td>{{ command.produit.libelle }}</td>
                    <td>{{ command.produit.categorieProduitDto.libele }}</td>
                  </tr>
                </ng-template>
            </p-table>
          </div>
        </td>
        <td><p-tag [rounded]="true"
          [severity]="getSeverity(order.methodDePaiement)!"
          value="{{ order.methodDePaiement }}"
        ></p-tag></td>
        <td><p-tag [rounded]="true" 
          [severity]="getSeverity(order.etatPaiement)!"
          value="{{ order.etatPaiement }}"
        ></p-tag>
        </td>
        <td><p-tag [rounded]="true"
          [severity]="getSeverity(order.status)!"
          value="{{ order.status }}"
        ></p-tag>
        </td>
        <td>
          <div *ngIf="order.deliveryPerson; else assignDeliveryPerson">
            <div class="flex gap-x-3 sm:justify-end">
              <p>{{ order.deliveryPerson.fullname }}</p>
            </div>
          </div>
        
          <ng-template #assignDeliveryPerson>
            <div class="flex justify-end gap-x-3 sm:col-start-3">
              <button
              class="p-button-sm p-button-rounded sm:w-60 smaller-button"
                pButton
                pRipple
                (click)="showDeliveryPersonDialog(order.id)"
                label="delivery "
                icon="pi pi-user"
              ></button>
            </div>
          </ng-template>
        </td>
        
        <td>
          <div
          *ngIf="order.etatLivraison != 'DELIVERED'"
          class="flex gap-x-3 sm:col-start-3 sm:justify-end"
        >
          <button
            class="p-button-sm p-button-rounded p-button-success w-35"
            pButton
            pRipple
            (click)="markAsDelivered(order.id, order)"
            label="Delivered"
            icon="pi pi-check"
          ></button><br>

          <button
            class="p-button-sm p-button-rounded p-button-danger w-35 "
            pButton
            pRipple size="small"
            (click)="markAsCancelled(order.id, order)"
            label="Cancelled"
            icon="pi pi-times"
          ></button>
          

        </div>
        </td>
        <TD>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-dialog
  header="Choose a delivery person"
  [(visible)]="displayDeliveryPersonDialog"
  [modal]="true"
  [responsive]="true"
  [style]="{ 'width': '400px' }"
>
  <div class="p-fluid">
    <label for="deliveryPersonDropdown">Select Delivery Person</label>
    <p-dropdown
    id="deliveryPersonDropdown"
    [options]="availableDeliveryPersons"
    [(ngModel)]="selectedDeliveryPerson"
    optionLabel="fullname"
    ></p-dropdown>

    <button
  class="p-button p-button-primary"
  pButton
  (click)="assignDeliveryPerson(selectedDeliveryPerson.id, valeur)"
  label="Assign"
></button>
  </div>
</p-dialog>



