<div class="card flex justify-content-center">
    <p-button (click)="toggleModal()" icon="pi pi-check" label="Add Product"></p-button>
    <p-dialog
     header="{isEditing ? add : edit}"
     [(visible)]="visible" 
     [modal]="true"
      [draggable]="false" 
     [resizable]="false"
     (onHide)="visible=false"
     [style]="{ width: '50rem' }" 
     [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <ng-template pTemplate="header">
            <div class="inline-flex align-items-center justify-content-center gap-2">
                <span *ngIf="!isEditing" class="font-bold white-space-nowrap">Add Product</span>
                <span *ngIf="isEditing" class="font-bold white-space-nowrap">Edit Product</span>
            </div>
        </ng-template>
        <form [formGroup]="productForm" class="product-form">
            <div class="field">
                <label class="block" for="nomProduct">nomProduct </label>
                <input type="text" pInputText formControlName="nomProduct"/>              
                <div *ngIf="productForm.get('nomProduct')?.hasError('required') && productForm.get('nomProduct')?.touched">
                    Category Name is required.
                </div>           
            </div>
            <div class="field">
                <label class="block" for="description">description </label>
                <input type="text" pInputText formControlName="description"/>              
                <div *ngIf="productForm.get('description')?.hasError('required') && productForm.get('description')?.touched">
                    Category Name is required.
                </div>           
            </div>
            <div class="field">
                <label class="block" for="reference">reference </label>
                <input type="text" pInputText formControlName="reference"/>              
                <div *ngIf="productForm.get('reference')?.hasError('required') && productForm.get('reference')?.touched">
                    Category Name is required.
                </div>           
            </div>
            <div class="field">
                <label class="block" for="prixProduct">prixProduct </label>
                <input type="text" pInputText formControlName="prixProduct"/>              
                <div *ngIf="productForm.get('prixProduct')?.hasError('required') && productForm.get('prixProduct')?.touched">
                    Category Name is required.
                </div>           
            </div>
            <div class="field">
                <label class="block" for="category">category </label>
                <input type="text" pInputText formControlName="category"/>              
                <div *ngIf="productForm.get('category')?.hasError('required') && productForm.get('category')?.touched">
                    Category Name is required.
                </div>           
            </div>
            <div class="field">
                <label class="block" for="supplier">supplier </label>
                <input type="text" pInputText formControlName="supplier"/>              
                <div *ngIf="productForm.get('supplier')?.hasError('required') && productForm.get('supplier')?.touched">
                    Category Name is required.
                </div>           
            </div>
            <div class="field">
                <label class="block" for="varieties">varieties </label>
                <input type="text" pInputText formControlName="varieties"/>              
                <div *ngIf="productForm.get('varieties')?.hasError('required') && productForm.get('varieties')?.touched">
                    Category Name is required.
                </div>           
            </div>
            <div class="field">
                <label class="block" for="imgs">imgs </label>
                <input type="text" pInputText formControlName="imgs"/>              
                <div *ngIf="productForm.get('imgs')?.hasError('required') && productForm.get('imgs')?.touched">
                    Category Name is required.
                </div>           
            </div>
            <div class="field">
                <label class="block" for="quantity">quantity </label>
                <input type="text" pInputText formControlName="quantity"/>              
                <div *ngIf="productForm.get('quantity')?.hasError('required') && productForm.get('quantity')?.touched">
                    Category Name is required.
                </div>           
            </div>
        </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" *ngIf="!isEditing" (click)="addProduct()" label="Add Product" pAutoFocus [autofocus]="true" [disabled]="productForm.invalid"></p-button>
            <p-button icon="pi pi-check" *ngIf="isEditing" (click)="updateProduct()" label="Edit Product" pAutoFocus [autofocus]="true" [disabled]="productForm.invalid"></p-button>
        </ng-template>
    </p-dialog>
    </div>



<div class="card">
    <p-table [value]="products" [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header" let-product>
            <tr>
                <th>Code </th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
                <th>Variety</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Reference</th>
                <th>Suplier</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product >
            <tr>
                <td>{{product.idProduct}}</td>
                <td class="p-4">
                    <img src="{{product.imgs}}" class="w-16 md:w-32 max-w-full max-h-full" alt="Apple Watch">
                </td>
                <td>{{product.nomProduct}}</td>
                <td>{{product.description}}</td>
                <td>{{product.prixProduct}}</td>
                <td>{{product.category.nomCategory}}</td>
                <td><ul>
                    <li *ngFor="let varr of product.varieties">
                        {{varr.varietyName}}
                    </li>
                </ul> </td>
                <td>{{product.quantity}}</td>
                <td>Status</td>
                <td>{{product.reference}}</td>
                <td>{{product.supplier.nomSupplier}}</td>
                <td >
                    <button pButton pRipple  icon="pi pi-pencil" class="p-button-rounded p-button-success mr-6" ></button>
                    <button pButton pRipple   icon="pi pi-trash" class="p-button-rounded p-button-warning" ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>